# Runtime / pobierane artefakty — nie trzymamy ich w repo.
/srv/
*.iso
*.img
*.apkovl.tar.gz
vmlinuz*
initramfs*
initrd*
modloop*
core*.gz
dnsmasq.runtime.conf
build/

# Dzienniki (runtime) — nie trzymamy ich w repo.
logs/
*.txt
